body{
  margin: 0;
  padding: 0;
  /* background-color: #090D10; */
  background-color: #121619;
  font-family: 'Poppins', sans-serif;
}

.ingredients {
  position: absolute;
  margin-top: -100px;
  margin-left: 40px;
}

.cheese {
  width: 100%;
  position: absolute;
}